@import'./global';

.header1 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}


h1 {
    font-family: "Poppins", sans-serif;
}

.footer {
    background-color: #2A254B;


}

.hrrr {
    color: none;
}